.changePasswordBackGround{
  background-color: #594545;
  height: 90vh;
  padding: 50px;
}

.changePasswordLogo{
  color: antiquewhite;
}

.changePasswordButton{
  border: #4e2d2d;
  border-width: 5px;
  border-style:solid;
  border-radius: 20px;
  background-color: antiquewhite;
  margin: 10px;
}